/* @usage: font style */
$font: "Lexend", sans-serif;
$mono: monospace, monospace;

/* @usage: basic style */
$trans: transparent;
$sbar: #eeeeee;
$sThmb: #686868;
$outl: #999999;

/* @usage: theme color */
$white: #ffffff;
$black: #000000;
$gray: #f9f9f9;
$blue: #3a59ff;
$text: #141666;
$cobalt: #4460f5;
$violet: #6644fe;
$navy: #1c1d5d;
