@import "../core/color.scss";
@import "../core/mixin.scss";

.heroSection {
  @include inwidth(left, 100%);
  height: 520px;
  background: $dgrbg;
  background: $heroBg;
  padding: 130px 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    @include font(38px, 700);
    text-align: center;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: $white;
  }
  & > span {
    color: $white;
    cursor: pointer;
    padding: 12px 32px;
    border: 1px solid $white;
    margin-top: 40px;
    border-radius: 50px;
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
      background: $white;
      color: $text;
    }
  }
}
