@import "../core/color.scss";
@import "../core/mixin.scss";

.wrapperHeader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.headerCoverColor,
.headerCoverWhite {
  @include inwidth(left, 100%);
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  @include inwidth(left, auto);
}
.navigation {
  @include inwidth(left, auto);
  ul {
    @include inwidth(left, auto);
    li {
      @include inwidth(left, auto);
      a {
        margin: 0px 18px;
        @include inwidth(left, auto);
        @include font(16px, 500);
      }
    }
  }
}
.loginIcn {
  @include inwidth(left, auto);
  a {
    @include font(16px, 500);
  }
}
.headerCoverColor {
  .navigation ul li a,
  .loginIcn a {
    color: $white;
  }
}
.headerCoverWhite {
  .navigation ul li a,
  .loginIcn a {
    color: lighten($black, 20%);
  }
}
